* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    text-align: justify;
}

body {
    background-color: hsla(51, 100%, 84%, 0.432);
}

img {
    margin: auto;
    display: block;
    width: auto;
}

a {
    display: block;
}

#greating, .title { 
    color: rgb(128, 0, 6);
    text-align: center;
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.subtitle {
    color: rgb(122, 51, 55);
    text-align: left;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.recipes {
    background-color: rgb(253, 226, 69);
}

.links {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 30px;
    padding: 10px;
    width: 125px;
    margin: auto;
    background-color: gold;
    margin-bottom: 15px;
    border: 3px solid black;
    text-align: center;
    border-radius: 25px;
}

#home {
    text-decoration: none;
    font-size: 25px;
    display: block;
    margin: right;
    width: 100px;
    height: auto;
    text-align: center;
    color: white;
    border: 2px solid black;
    border-radius: 25px;
    background-color: red;
}